<div class="header">
      <div class="title"> Choose your city! </div>

<ul class="city">

	<li> Chicago  </li>
	<li> New York </li>
	<li> L.A.     </li>
</ul>

<div class="button">

        <button>+</button> 
        <input type="text" name="city-input">

</div>

