<body class="cityPage">

{{!-- <h1 class="cityChoice"> pick a city to rep </h1> --}}

<ul class="cityList">
	<li> Chicago  </li>
	<li> New York </li>
	<li> Los Angelas </li>
	<li>{{newCity}}</li>
</ul>


<div class="cityFooter">

<form id="cityForm" action="/city/love" method="POST"> 
	<input id="bottom" type="text" placeholder="add a city" name="city"/>
	<button id="newCity"> Submit </button>
</form>

</div>

</div>

</body>

