<body class="cityPage">

{{!-- <h1 class="cityChoice"> pick a city to rep </h1> --}}

<div id="listContainer">

{{#each citiesArray}}
	<h1 class="yourCity"><a href="/post/city/{{this.cityName}}"> {{this.cityName}}</a></h1>
{{/each}}

</div>


<div class="cityFooter">

<form id="cityForm" action="/city/love" method="POST"> 
	<input id="bottom" type="text" placeholder="add a city" name="cityName"/>
	<button id="newCity"> Submit </button>
</form>

</div>


</body>

