<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
	<title> </title>
	<link rel="stylesheet" type="text/css" href="public/styles/style.css">

</head>
<body>

{{{body}}}

<script href="../public/app.js" type="text/javascript"></script>
</body>
</html>