<div id="formHolder">

<h1 class="login">show <br> some fuckin <br> love</h1>

<form action="/login" method="POST">
	<input type="text" placeholder="username" name="username"/>
	<input type="password" placeholder="password" name="password"/>


	<button> Login </button> 

</form>

</div>

<h1 class="message">{{message}}</h1> 

<div id="cityDisplay2">
	<img id="cityScape2" src="/images/mainCity.svg"/>
</div>