    <div class="header">
      <div class="title">My Posts</div>
      <div class="button">
        <button>+</button>
      </div>
    </div>
    <div class="list">
      <div class="item">
        <div>
          <input type="checkbox" class="check"/>
        </div>
      <div class="myPost">
        We have the best food
    </div>
  </div>
</div>
 
  