<body class="board">


<div class="postFooter">

<form id="boardForm" action="/board/post" method="POST"> 
	<input id="cityInput" type="text" placeholder="what do you fuckin love about your city" name="loveShown" maxlength="25"/>
	<button id="loveCity"> Show the love </button>
</form>

</div>

<div id="postContainer">

{{#each postsArray}}
	<h1 class="yourPost">I fuckin love {{this.loveShown}}</h1>
{{/each}}

</div>




</body>