<body class="board">


<div class="postFooter">
									
<form id="boardForm" action="/post/city/{{city}}" method="POST"> 
	<input id="cityInput" type="text" placeholder="what do you f*ckin love about your city" name="loveShown" maxlength="25"/>
	<button id="loveCity"> Send </button>
</form>

</div>

<div id="postContainer">

{{#each postsArray}}
	<div id="myPost"> <h2> {{this.userName}} f*ckin loves</h2> <br> <h1 class="yourPost"> {{this.loveShown}}</h1> </div>
{{/each}}

	


</div>




</body>