<h1> This is the Register Page </h1>

<form class="login" action="/login" method="POST">
	<input type="text" placeholder="your username" name="username"/>
	<input type="text" placeholder="password" name="password"/>

	<button> Register </button> 

</form>