<div class="userBody">

<div id="registerHolder">

<h1 class="register"> I f*ckin <br> love <br> this city </h1>

<form action="/user/register" method="POST">
	<input class="regUser" type="text" placeholder="username" name="username"/>
	<input class="regUserPass" type="password" placeholder="password" name="password"/>
	<input class="regEmail" type="text" placeholder="e-mail" name="email"/>


	<button class="signUpBtn"> Sign Up </button> 

</form>

<h1 class="message">{{message}}</h1> 

</div>

<div id="cityDisplay">
	<img id="cityScape1" src="/images/mainCity.svg"/>
</div>

</div>
