body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00f47f;
  margin: 0;
}
.register {
  font-family: 'Archivo Black', sans-serif;
  font-size: 45px;
  color: #023d93;
}
.message {
  font-family: 'Archivo Black', sans-serif;
  font-size: 45px;
  color: #023d93;
}
#cityDisplay {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
#cityScape1 {
  height: 200px;
}
